html, body{
    padding: 0;
    margin: 0;
 }

* {
font-family: 'Roboto', 'Helvetica', sans-serif;
box-sizing:border-box;
}

.header, .footer{
display:flex;
justify-content:space-between;
background-color: #1f2937;
color: #f9faf8;
border: 5px;
border-color:#1f2937;
padding:0px 150px;
}

.logo{
display:flex;
flex-shrink:0;
align-items:center;
font-size:24px;
font-weight:900;
}

.links{
display:flex;
align-items:center;
}

.hero-container{
display:flex;
flex-direction:column;
display:inline-block;
justify-content:end;
padding-right:50px;
}

.hero-headline{
font-size: 48px;
font-weight: 900;
color: #f9faf8;
display:inline-block;
}

.hero-paragraph{
font-size: 18px;
color: #e5e7eb;
display:inline-block;
}

.placeholder{
display:flex;
flex-shrink:0;
width:300px;
height:200px;
align-items:center;
padding:50px;
background-color:grey;
color: #f9faf8;
}

.random{
flex-shrink:0;
color: #1f2937;
text-align:center;
font-weight:900;
font-size:36px;
}

.groups{
display:flex;
}

.group{
padding:20px;
display:flex;
flex-direction:column;
text-align:center;
}

.placeholder-outline{
flex-shrink:0;
width:100px;
height:100px;
border-width:2px;
border-style:solid;
border-color:#3882f6;
border-radius:10px;
}    

.container{
display:flex;
justify-content:space-between;
align-items:center;
padding:100px 150px;
}

.container.white{
display:flex;
flex-direction:column;
}

a {
text-decoration:none;
color: #e5e7eb;
text-size-adjust:18px;
display:inline-block;
padding:18px;
}

.blue{
background-color: #1f2937;
}

.grey{
background-color: #e5e7eb;
display:flex;
flex-direction:column;
}

.quote{
color: #1f2937;
font-style: italic;
font-size:36px;
font-weight:100;
}

.thor{
padding-top:20px;
color: #1f2937;
align-self:flex-end;
font-weight:900;
}

p {
width:100px;
}

p.blue{
color: #e5e7eb;
}

button {
background-color: #3882f6;
color: #f9faf8;
border-style:solid;
border-color:#f9faf8;
border-width:1px;
padding: 10px 20px;
margin-top:10px;
border-radius:5px;
display:block;
}

.blue-box {
display:flex;
background-color:#3882f6;
border-radius:5px;
padding:50px 50px;
align-items:center;
}

.call-paragraph{
display:flex;
flex-direction:column;
padding-right:50px;
}

.call{
font-size:18px;
font-weight:700;
color: #f9faf8;
}

.call-paragraph{
color:#e5e7eb;
}

.footer{
display:flex;
padding:20px 20px;
justify-content:center;
}
