html, body{
    padding: 0;
    margin: 0;
 }

* {
font-family: 'Roboto', 'Helvetica', sans-serif;
box-sizing:border-box;
}

.header, .footer{
display:flex;
justify-content:space-between;
background-color: #1f2937;
color: #f9faf8;
border: 5px;
border-color:#1f2937;
padding-left:200px;
padding-right:200px;
}

.links{
display:flex;
align-items:center;
}

.hero{
display:flex;
flex-direction:column;
display:inline-block;
justify-content:end;
padding-right:50px;
}

.placeholder{
display:flex;
align-items:center;
padding:50px;
padding-right:50px;
background-color:grey;
}

.container{
display:flex;
justify-content:space-between;
padding-top:100px;
padding-right:200px;
padding-left:200px;
padding-bottom:100px;
}

a {
text-decoration:none;
color: #e5e7eb;
text-size-adjust:18px;
display:inline-block;
padding:18px;
}

.blue{
background-color: #1f2937;
color: #f9faf8;
}

p {
text-size-adjust: 18px;
}

p.blue{
color: #e5e7eb;
}

button {
background-color: #3882f6;
color: #f9faf8;
border:0;
padding: 10px;
padding-left:20px;
padding-right:20px;
border-radius:5px;
}

